<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.front.maven.springmvc.dao.MenuConfigMapper" >
  <resultMap id="BaseResultMap" type="com.front.maven.springmvc.domain.MenuConfig" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="pid" property="pid" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="ishide" property="ishide" jdbcType="INTEGER" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="backgroundid" property="backgroundid" jdbcType="VARCHAR" />
    <result column="iconid" property="iconid" jdbcType="VARCHAR" />
    <result column="groupid" property="groupid" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="INTEGER" />
    <result column="orderby" property="orderby" jdbcType="INTEGER" />
    <result column="size" property="size" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="dlt" property="dlt" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  
   <resultMap id="MenuConfigExtend" extends="BaseResultMap" type="com.front.maven.springmvc.domain.extend.MenuConfigExtend">
  	<result column="backgroundname" property="backgroundname" jdbcType="VARCHAR"></result>
  	<result column="iconname" property="iconname" jdbcType="VARCHAR"></result>
  </resultMap> 
  
  <sql id="Base_Column_List" >
    id, pid, title, ishide, url, backgroundid, iconid, groupid, level, orderby, size, 
    type, dlt, remark, createtime, updatetime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from menuconfig
    where id = #{id,jdbcType=VARCHAR} and dlt=0 and ishide=0
  </select>
  <!-- 根据groupid查询一级菜单 -->
  <select id="getByGroupid" resultMap="BaseResultMap" parameterType="java.lang.String">
  	select * from menuconfig where dlt=0 and level="1" and groupid=#{groupid,jdbcType=VARCHAR} and ishide=0 and orderby !=""  order by orderby
  </select>
  <!-- 根据level查询该级菜单 -->
  <select id="getMenuByLevel" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from menuconfig
    where level = #{pid,jdbcType=VARCHAR}
  </select>
  <!-- 根据groupid查询二级菜单 -->
  <select id="getErjiByGroupid" resultMap="BaseResultMap" parameterType="java.lang.String">
  	select * from menuconfig where dlt=0 and level="2" and groupid=#{groupid,jdbcType=VARCHAR} and orderby !=""  order by orderby
  </select>
  <!-- 通过id查询富文本 -->
  <select  id="selectById" resultMap="BaseResultMap" parameterType="java.lang.String">
  	select * from menuconfig where dlt=0 and id=#{id,jdbcType=VARCHAR};
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from menuconfig
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insertSelective" parameterType="com.front.maven.springmvc.domain.MenuConfig" >
    insert into menuconfig
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="pid != null" >
        pid,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="ishide != null" >
        ishide,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="backgroundid != null" >
        backgroundid,
      </if>
      <if test="iconid != null" >
        iconid,
      </if>
      <if test="groupid != null" >
        groupid,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="orderby != null" >
        orderby,
      </if>
      <if test="size != null" >
        size,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="dlt != null" >
        dlt,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="ishide != null" >
        #{ishide,jdbcType=INTEGER},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="backgroundid != null" >
        #{backgroundid,jdbcType=VARCHAR},
      </if>
      <if test="iconid != null" >
        #{iconid,jdbcType=VARCHAR},
      </if>
      <if test="groupid != null" >
        #{groupid,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        #{level,jdbcType=INTEGER},
      </if>
      <if test="orderby != null" >
        #{orderby,jdbcType=INTEGER},
      </if>
      <if test="size != null" >
        #{size,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="dlt != null" >
        #{dlt,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.front.maven.springmvc.domain.MenuConfig" >
    update menuconfig
    <set >
      <if test="pid != null" >
        pid = #{pid,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="ishide != null" >
        ishide = #{ishide,jdbcType=INTEGER},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="backgroundid != null" >
        backgroundid = #{backgroundid,jdbcType=VARCHAR},
      </if>
      <if test="iconid != null" >
        iconid = #{iconid,jdbcType=VARCHAR},
      </if>
      <if test="groupid != null" >
        groupid = #{groupid,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="orderby != null" >
        orderby = #{orderby,jdbcType=INTEGER},
      </if>
      <if test="size != null" >
        size = #{size,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="dlt != null" >
        dlt = #{dlt,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  <select id="getNextPageByMenuId" resultMap="MenuConfigExtend" parameterType="java.lang.String">
  select * from menuconfig where pid=#{menuid} and dlt=0 and ishide=0
  </select>
  
</mapper>