*{
	padding:0;
	margin:0;
	box-sizing:border-box;
	font-family:FZZYJW;
}
@font-face{
	font-family: FZZYJW;
	src:url("../../img/weichuangxin/font/FZZYJW.TTF");
}
.contain{
	width:100%;
	height:100%;
	overflow:hidden;
}
.link_url{
	display:block;
	width:100%;
	height:100%;
}