@CHARSET "UTF-8";

title {
	font-family: 宋体;
	font-weight: bolder;
	color: #606E6B;
}

.panel-default {
	width: 100%;
	margin-top: 30px;
}

.panel-heading {
	background-color: #F1F9F8 !important;
	height: 45px;
	line-light: 100%;
	vertical-align: middle;
}

.panel-title {
	font-family: 宋体;
	font-weight: bolder;
	color: #1ABC9C !important;
}

.ul-style {
	color: #1ABC9C !important;
	width: 100%;
	float: left;
	margin-top: 15px;
}

.ul-style-two {
	width: 24%;
	float: left;
	margin-top: 15px;
	height: 120px;
}

.ul-style-add{
	color: #1ABC9C;
	width: 24%;
	float: left;
	margin-top: 15px;
	height: 120px;
}

.ul-style-two li{
	width: 100%;
	height:30px;
	color:#000;
	line-height:100%;
	
}

.ul-style-add li {
	width: 100%;
	height: 40px;
	line-height:100%;
}


ul li {
	width: 23%;
	line-height: 5px !important;
}

.list-style {
	line-height: 9px;
}

hr {
	border: 1px dashed #DDDDDD !important;
	margin-top: 25px;
}

.modify {
	background-color: #1ABC9C !important;
	width: 75px;
	height: 30px;
	text-align: center;
	vertical-align: middle !important;
	line-height: 100% !important;
	border: none !important;
	margin-top: 70px;
	margin-left: 40%;
	color: white !important;
	font-family: 宋体;
	font-weight: bolder !important;
	border-radius: 5px;
}

.exit {
	background-color: #D9534F !important;
	width: 75px;
	height: 30px;
	text-align: center;
	vertical-align: middle !important;
	line-height: 100% !important;
	border: none !important;
	margin-top: 70px;
	margin-left: 40px;
	color: white !important;
	font-family: 宋体;
	font-weight: bolder !important;
	border-radius: 5px;
}


.form-control {
	border-radius: 0px;
	height: 28px;
	width: 190px;
}

.add {
	background-color: #1ABC9C !important;
	width: 90px;
	height: 30px;
	text-align: center;
	vertical-align: middle;
	line-height: 100%;
	border: none;
	color: white !important;
	font-family: 宋体;
	font-weight: bolder !important;
	border-radius: 5px;
}

.save {
	background-color: #1ABC9C !important;
	width: 90px;
	height: 30px;
	text-align: center;
	vertical-align: middle;
	line-height: 100%;
	border: none;
	margin-top: 40px;
	margin-left: 44%;
	color: white !important;
	font-family: 宋体;
	font-weight: bolder !important;
	border-radius: 5px;
}

.reset {
	background-color: #D9534F !important;
	width: 90px;
	height: 30px;
	text-align: center;
	vertical-align: middle;
	line-height: 100%;
	border: none;
	margin-top: 40px;
	margin-left: 20px;
	color: white !important;
	font-family: 宋体;
	font-weight: bolder !important;
	border-radius: 5px;
}

.glyphicon-th-large {
	border-color: white;
	border: 1px;
	background-color: white;
}

.list {
	background-color: #1ABC9C !important;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	border: none;
}

.remove {
	background-color: #D9534F !important;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	border: none;
	margin-left: 30px;
}

.glyphicon-remove {
	color: white;
	margin-left: -3px;
}

.form-control:focus {
	border: 2px solid #1ABC9C;
}