.contain{
 background-image: url('../img/bgone.png');
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: right bottom ;
            background-attachment: fixed;
}
.contain>.header_top{
	width:100%;
	height:85px;
    line-height:85px;
    background: #354052;
}
.contain>.header_bottom{
    width: 100%;
    height: 48px;
    background: #fff;
    padding-top: 6px;
    padding-left: 73px;
}
.header_top>.return{
    display: block;
    margin-left: 5%;
    float: left;
    position: absolute;
    height: 40px;
    line-height: 40px;
    top: 21px;
}
.return>img{
    height:40px;
}
.header_top>p{
   color: #fff;
    font-size: 3rem;
    text-align: -webkit-center;
    text-align: center;
    font-size: 2.5vw;
}
.contain>.main{
	 
        padding-top: 50px;
        width:100%;
        height:100%;
        overflow: hidden;
}
.main>.main_box{
    margin: 0 40px;
}
.main>.main_box h1{text-align:center;color:#068574;}
.main>.main_box h1 a{color:#068574;}
h3{
    text-align: center;
    color: #43c0b5;
}
.txt1{
    text-indent: 2em;
} 