.contain{
    background-color: rgba(255, 255, 255, 1);
    background-image: url('../../img/jihuazongjiebg.png');
    background-repeat: no-repeat;
    background-size:100% 100%;
    float:left;
    background-attachment: fixed;
    position: static;
}
.contain>.header_top{
	width:100%;
	height:122px;
}
.header_top>.return{
    display: block;
    width: 55px;
    height: 55px;
    background-image: url(../../img/capture.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    float: left;
    border-radius: 50%;
    margin-top: 9px;
    margin-left: 10px;
}
.header_top>p{
   color: #119d83;
    font-size: 3rem;
    padding-top: 20px;
    margin-left: 15px;
    float: left;
}
.table_container{
    width: 100%;
    margin-top:20px;
    margin-bottom: 20px;
    /*background: #fff;*/
    border: 2px solid #ccc;
}
.table_container tr{
    height:22px;
}
.table_container tr td{
    text-align: center;
    text-align: -webkit-center; 
}
.table_container .tr_bg{
    background: #0a7d7a;
}
.table_container .name_bg{
    background: #30a494;
}
.table_container .tr_sumary,.table_container .bg_color{
    background: #016f6c;
}
.table_container tr .center{
    color:#fff;
}
.table_container .center{
    color:#fff;
}
.table_container tr .padding{
    padding:10px;
}
.table_container .white{
    background: #fff;
}
/*.table_container tr{
    background: 
}*/